.header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    position: sticky;
    top: 0px;
}

.logo {
    width: 100px; 
}

nav{

}

.texto-header{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: Roboto;
 }


.section-one {
    display: inline-block;
    font-family: Roboto;
    font-size: 30px;
    background-color: rgb(97, 168, 255);
    color:white;
}

.dancer {
    height: 90%;
}

.button {
    color: white;
    background-color: rgb(103, 202, 103);
    border-radius:7px;
    border-color: rgb(103, 202, 103);
}

.section-two {
    display: flex;
    flex-direction: column;
    color:black;
    font-family: Roboto;
    font-size: 2rem;
    display:flex;
}

.dibujos{
    display: flex;
    flex-direction: row;
}

.info{
    font-family: Roboto;
    font-size: 1.3rem;
}

.icons{
    height: 150px;
    width: 150px;
}

.pie {
    background-color: black;

}
.texto-footer{
    text-decoration: none;
    font-family: Roboto;
    color: gray;
}