
.body{
    height: 100vh;
    background-color: grey;  
  }
.header{
    height: 54px;
    padding:15px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
    .logo{
height: 3rem;
    }
    .menu-icon{
        height: 3rem;
    }

  
.hero{
   
    background-color: rgb(84, 175, 255);
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.8rem;
    font-family: Roboto;
    color: white;
    padding: 15px;
    font-weight: 700;
}
h2{
    font-size: 2rem;
    font-family: Roboto;
    color: white;
    padding: 15px
}
button{
    color:white;
    background-color: rgb(15, 211, 15);
    border: 0px;
    border-radius: 20px;
    height: 60px;
    width: 400px;
    font-size: 20px;
    }
h3{
    font-size: 0.7rem;
    font-family:Roboto;
    color: white;
    padding: 15px;
}
.article{
   width: auto;
   background-color: white;
   height: 500%;
   display: flex;
   flex-direction: column;
   align-items: center;
   

}

.pregunta{
    font-size: 50px;
    font-family: Roboto;
    padding: 15px;
    text-align: center;}

    .p{
        color: black;

    }

.footer{
    text-decoration: none;
    font-family: Roboto;
    color: gray;
    background-color: black;
}
        
    

@media all and (min-width:480px){
    
  }

@media all and (min-width: 800px) {

}